<nav class="navbar">
	<ul class="left-nav">
		<li>CameronWilson.me</li>
	</ul>

	<div class="right-nav">
		<div class="dropdown">
  			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Go To
  			<span class="caret"></span></button>
  			<ul class="dropdown-menu">
    		<li><a href="/#/">Home</a></li>
    		<li><a href="/#/professional">Professional</a></li>
    		<li><a href="/#/projects">Projects</a></li>
    		<li><a href="/#/blog">Blog</a>
  		</ul>
	</div>
	</div>
</nav>

<section class="top-content" role="topbanner">
	<div class="content-wrapper">
		<div class="table-view">
			<div class="table-cell">
				<div class="profile-unit">
					<div class="display-pic">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
