<section class="resume">
	<h2>
		Education
	</h2>
	<div class="education">
		<div class="entryheader">
			<h3 class="jobtitle">
				<span>Richard Ivey School of Business <i>Hon. Business Administration</i></span>
			</h3>
		</div>

	<h2>
		Experience
	</h2>

	<div class="resumeentry">
		<div class="entryheader">
			<h3 class="jobtitle">
				<span>The Aber Group <i>Account Strategist</i></span>
			</h3>
			<h3 class="jobdates">
				2014-Present
			</h3>
		</div>
		<ul class="jobabout">
			<li>Managed intricate campaign projects with multiple stakeholders from start to finish. </li>
			<li>Created and implemented digital marketing strategies to achieve a wide variety of clients' strategic goals. Supplemented these strategies with robust analytics and tracking to quantatively evaluate projects, campaigns and strategies from an ROI perspective. As a result, we saw considerable year-over-year improvement and all clients increased their yearly budgets.</li>
			<li>Promoted from Intern to Coordinator after 4 months, then again to Strategist after one year. Currently managing a full-time Coordinator, while acting for a resource for junior staff on social media strategy and implementation.</li>
		</ul>
	</div>
	<div class="resumeentry">
		<div class="entryheader">
			<h3 class="jobtitle">
				<span>Fitted. <i>Co-Founder</i></span>
			</h3>
			<h3 class="jobdates">
				Summer 2013
			</h3>
		</div>
		<ul class="jobabout">
			<li>Assembled and worked with a team of peers to create an online business venture, identify market opportunities and overcome technical problems.</li>
			<li>Independently learned the fundamentals of web development, digital marketing strategy, and project management as the need arose. Gained critical experience managing technical projects in a high-stress environment.</li>
		</ul>
	</div>
	

</section>