<section class="portfolio">
  <h2>
    Current Projects
  </h2>
  <div class="project">
    <img class="projectimg" src="img/Singularity_Jump/GameStillFinal3.png">
    <div class="description">
      <h3 class="projecttitle">
        Singularity Jump
      </h3>
      <p class="projectabout">
        Singularity Jump is my first full mobile game developed on the Unity game engine. In addition to increasing my proficiency with C#, I'm challenging myself to produce all the visual assets and animations. Look for the game later in 2016 on the App Store and Google Play, and check back here later for a web demo!
      </p>
    </div>
  </div>
  <h2>
    Past Projects
  </h2>
  <div class="project">
    <img class="projectimg" src="img/FundRocketCard.png">
    <div class="description">
      <h3 class="projecttitle">
        FundRocket
      </h3>
      <p class="projectabout">
        FundRocket was a crowdsourced equity platform aimed to help Canadian startups better access funding. Unfortunately, the Ontario government delayed the legislation that would make crowdfunding legal in early 2015, and my co-founder and I agreed to end the project shortly afterwards. 
      </p>
    </div>
  </div>
  <div class="project">
    <img class="projectimg" src="img/SteamEngineCard.png">
    <div class="description">
      <h3 class="projecttitle">
        Ivey Business Review Article
      </h3>
      <p class="projectabout">
        While we weren't exactly correct in our predictions, this article gave my co-author and I an opportunity to peer into the inner workings of digital marketplaces and how platforms are monetized. <a href="http://iveybusinessreview.ca/cms/1808/steams-engine/">Click here to read the full article!<a>
      </p>
    </div>
  </div>


</section>